@import "reset.css";
html {
  font-family: "Roboto", sans-serif;
  height: 100%;
}
body {
  height: 100%;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.25rem;
}
.header-main {
  background-color: #316eaa;
  color: #ffffff;
}
.header-about {
  justify-content: center;
  font-size: 2rem;
  color: #2c2c2c;
}
.header-portfolio {
  justify-content: center;
  font-size: 2rem;
  color: #2c2c2c;
}
.header-contact {
  justify-content: center;
  font-size: 2rem;
  color: #2c2c2c;
}
.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10rem;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
}
.sec {
  height: 100%;
}
.sec-about {
  background-color: #ffffff;
}
.sec-portfolio {
  background-color: #9de559;
}
.sec-contact {
  background-color: #84d651;
}
.sec-about .content {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: #2c2c2c27;
  height: auto;
  width: 50rem;
  margin: 0 auto;
}
